# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [24]:
# import numpy and pandas

import pandas as pd
import numpy as np
from scipy import stats

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [30]:
Legendary=pokemon[pokemon['Legendary']==True]
print('Number of legendary pokemon:',len(Legendary))
print()
Non_Legendary=pokemon[pokemon['Legendary']==False]
print('Number of generic pokemon:',len(Non_Legendary))

Number of legendary pokemon: 65

Number of generic pokemon: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [15]:
print('Mean of total points of legendary pokemon:',Legendary['Total'].mean())
print('Standard deviation of total points of legendary pokemon:',Legendary['Total'].std())
print()     
print('Mean of total points of Non legendary pokemon:',Non_Legendary['Total'].mean())
print('Standard deviation of total points of Non legendary pokemon:',Non_Legendary['Total'].std())

Mean of total points of legendary pokemon: 637.3846153846154
Standard deviation of total points of legendary pokemon: 60.93738905315346

Mean of total points of Non legendary pokemon: 417.21360544217686
Standard deviation of total points of Non legendary pokemon: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [31]:
# Your code here:
stats.ttest_ind(Legendary['Total'],Non_Legendary['Total'],equal_var=False)
# Se debe especificar el campo que se debe analizar, en este caso, Total

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
# The stats are significantly different becasue the p-value is below 0.05, so we can conclude that the mean of both distributions is different

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [32]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [39]:
# Your code here:
Water=pokemon[pokemon['Type 1']=='Water']
print('Water Type Pokemon:')
print('Mean:',Water['Total'].mean())
print('Std:',Water['Total'].std())
print()
Non_Water=pokemon[pokemon['Type 1']!='Water']
print('Non Water Type Pokemon:')
print('Mean:',Non_Water['Total'].mean())
print('Std:',Non_Water['Total'].std())

Water Type Pokemon:
Mean: 430.45535714285717
Std: 113.18826606431458

Non Water Type Pokemon:
Mean: 435.85901162790697
Std: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [40]:
# Your code here:
stats.ttest_ind(Water['Total'],Non_Water['Total'],equal_var=False)

Ttest_indResult(statistic=-0.4638681676327303, pvalue=0.6433915385821449)

Write your conclusion below.

In [ ]:
# Your conclusions here:
# The difference between  means of water and non water types of pokemon is not statistically significant.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [41]:
# Your code here:
stats.ttest_rel(pokemon['Attack'],pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [42]:
# Your conclusions here:
# We refuse the H0, The stats are significantly different becasue the p-value is below 0.05, so we can conclude that the mean of both distributions is different

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [44]:
# Your code here:
stats.ttest_rel(pokemon['Sp. Atk'],pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
# There's no significant difference between the two fields

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [51]:
# Your code here:
print(stats.ttest_1samp(pokemon['Attack']-pokemon['Defense'],0) )  
#It exists a significant difference between the fields

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [56]:
# Your code here:
con_table = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water')
con_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [64]:
# Your code here:
chi2, p_value, dof, ex =stats.chi2_contingency(con_table)
p

0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:
# P_value is above alfa, so we accept the null hypothesis